:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Pretendard";
}

body {
  color: var(--foreground);
  background: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Pretendard";
  /* 가변 폰트이므로 웨이트 범위를 지정합니다 */
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  /* public/font/PretendardVariable.ttf 경로를 가리킵니다 */
  src: url("/font/PretendardVariable.ttf") format("truetype");
}
